In [1]:
import pandas as pd

df = pd.DataFrame(
    [['hong',90, 88, 78], ['gil',95, 89,98], ['dong',85, 98, 67] ]
    , columns=['name','kor', 'eng', 'mat']
    , index=['2', '4', '6']
)

df
#df.loc[2]
#df.iloc[2]
#df.loc['2']

   name  kor  eng  mat
2  hong   90   88   78
4   gil   95   89   98
6  dong   85   98   67